/* Overall */

.container-lhc {
  padding-left: 45px;
  padding-right: 45px;
}

/* Landing Page */

body.admin-bar #main-container {

}


#lp-outer-container {
  height: 100vh;
}

#lp-container {
  margin-top: -100px;
}

#lp-container ul li {
  display: inline-block;
  width: auto;
  font-family: "Canela", serif;
  font-weight: 300;
  font-size: 144px;
  line-height: 144px;
  margin-right: 25px;
}


/* About */

.slide {
  width: 100%;
  height: 100vh;
  padding: 0 45px;
}

.slide.height-auto {
  height: auto;
  padding: 40px 50px;
}

.slide.black {
  background: #060606;
  color: #333333;
}

.statement {
  width: 100%;
}

.statement {
  font-size: 72px;
  line-height: 72px;
  color: #060606;
  font-family: "Canela", serif;
  font-weight: 300;
}

.slide.black .statement {
  color: #333333;
}

#team-members .team-member-container {
  padding: 0;
  border: 4px solid #060606;
  border-image-slice: 1;
  border-width: 2px;
}

#team-members .team-member-container:hover {
  border: 6px solid #060606;
  border-image-slice: 1;
  border-width: 3px;
  border-image-source: linear-gradient(to bottom, #f7f99d, #76b942, #f7f99d);
  margin-bottom: -1px;
  margin-top: -1px;
  position: relative;
  z-index: 5;
  cursor: pointer;
}

#team-members .team-member-container.dog:hover {
  cursor: auto;
}

#team-members .team-member-container .team-member {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

#team-members .team-member-container .team-member .photo {
  width: 100%;
  height: 200px;
}

#team-members .team-member-container .team-member .photo.missing {
  color: #ffffff;
  font-size: 24px;
  background: #151515;
}

#team-members .team-member-container .team-member .photo img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

#team-members .team-member-container .team-member .name {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #ffffff;
  font-size: 10.5px;
  font-family: lato, sans-serif;
  font-weight: 600;
  padding: 1px 5px;
  background: rgba(0,0,0,0.7);
}

#team-members .team-member-container:hover .team-member .name {
  background: rgba(0,0,0,1.0);
  padding-left: 4px;
}

#team-members .team-member-container .team-member .name img.muted {
  width: 10px;
  margin-right: 4px;
  margin-top: 3px;
  margin-left: -2px;
  float: left;
}

#team-members .team-member-container .team-member .name svg {
  fill: #dc2b30;
  width: 12px;
  float: left;
  margin-right: 4px;
  margin-top: 3px;
  margin-left: -2px;
}

#team-members .team-member-container .team-member .title {
  display: none;
}

#team-members .team-member-container .team-member .bio {
  display: none;
}

#team-member-detail {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  background: rgba(0,0,0,0.95);
  color: #ffffff;
}

#team-member-detail #team-member-detail-outer {
  height: 100%;
}

#team-member-detail #detail-title {
  font-family: 'Helvetica Neue';
  font-size: 16px;
  line-height: 48px;
  letter-spacing: 1.3px;
  color: #FF2A6E;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: bold;
  margin-top: -25px;
  opacity: 0.0;
  position: relative;
  left: 20px;
}

#team-member-detail #detail-name {
  font-family: "Canela";
  font-weight: 300;
  font-size: 100px;
  line-height: 100px;
  margin-bottom: 15px;
}

#team-member-detail #detail-name .letter {
  display: inline-block;
}

#team-member-detail #detail-bio {
  font-family: 'Helvetica Neue';
  font-size: 21px;
  line-height: 36px;
  color: #666666;
  max-width: 90%;
  opacity: 0.0;
  position: relative;
  left: 5px;
}

#team-member-detail #photo-container img {
  opacity: 0.0;
}

.details .item {
  color: #aaaaaa;
  font-family: "Canela", serif;
  font-weight: 300;
  font-size: 72px;
  line-height: 78px;
}

.details .item a {
  color: #aaaaaa;
  font-family: "Canela", serif;
  font-weight: 300;
  font-size: 72px;
}

.details .item a:hover {
  color: #ff2a6e;
}

.details .item.small, .details .item.small a {
  font-size: 36px;
  line-height: 48px;
}

.details h2 {
  margin-bottom: 20px;
}


#services .service {
  margin-bottom: 100px;
}

#services .service img {
  max-height: 100px;
  margin-bottom: 25px;
  margin-left: -10px;
}

#services .service .icon-container {
  float: left;
}

#services .service .icon-container img.default {
  display: block;
}

#services .service .icon-container img.hover {
  display: none;
}

#services .service .icon-container:hover img.default {
  display: none;
}

#services .service .icon-container:hover img.hover {
  display: block;
}


#services .service h3 {
  font-family: "Canela", serif;
  font-weight: 300;
  color: #060606;
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 36px;
}

#services .service h3 a {
  color: #060606;
}

#services .service h3 a:hover {
  color: #ff2a6e;
}

#services .service li {
  font-size: 14px;
  line-height: 23px;
  text-transform: uppercase;
  color: #888888;
}


.services-description {
  font-size: 24px;
  line-height: 36px;
  color: #aaaaaa;
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
  font-weight: 300;
  padding-right: 100px;
}


.services-description h2 {
  font-size: 60px;
  line-height: 60px;
  color: #AAAAAA;
  font-family: "Canela", serif;
  font-weight: 300;
  letter-spacing: 0;
  margin-bottom: 20px;
}

#team-lead {
  line-height: 21px;
  margin-top: 15px;
}

#team-lead .name {
  font-weight: bold;
}

#team-lead label {
  font-size: 14px;
  color: #aaaaaa;
}


#newsletter-text {
  padding-bottom: 100px;
}

#newsletter-listings li {
  list-style-type: none;
}

#whats-next {
  padding-top: 75px;
  padding-bottom: 200px;
}

#whats-next h3 {
  font-size: 30px;
  font-weight: bold;
}

#whats-next li.item a {
  font-size: 30px;
  font-weight: 300;
  font-family: "Canela", serif;
}
