/* Overall */

.container-lhc {
  padding-left: 45px;
  padding-right: 45px;
}

/* Landing Page */

body.admin-bar #main-container {

}


#lp-outer-container {
  height: 100%;
}

#lp-container ul li {
  display: inline-block;
  width: auto;
  font-family: "Canela", serif;
  font-weight: 300;
  font-size: 144px;
  line-height: 144px;
  margin-right: 25px;
}


/* About */

.slide {
  width: 100%;
  height: 100vh;
  padding: 0 45px;
}

.slide.height-auto {
  height: auto;
  padding: 40px 50px;
}

.slide.black {
  background: #060606;
  color: #333333;
}

.statement {
  width: 100%;
}

.statement {
  font-size: 72px;
  line-height: 72px;
  color: #060606;
  font-family: "Canela", serif;
  font-weight: 300;
}

.slide.black .statement {
  color: #333333;
}

#team-members .team-member-container {
  padding: 0;
  border: 4px solid #060606;
  border-image-slice: 1;
  border-width: 2px;
}

#team-members .team-member-container:hover {
  border: 6px solid #060606;
  border-image-slice: 1;
  border-width: 3px;
  border-image-source: linear-gradient(to bottom, #f7f99d, #76b942, #f7f99d);
  margin-bottom: -1px;
  margin-top: -1px;
  position: relative;
  z-index: 5;
  cursor: pointer;
}

#team-members .team-member-container.dog:hover {
  cursor: auto;
}

#team-members .team-member-container .team-member {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

#team-members .team-member-container .team-member .photo {
  width: 100%;
  height: 200px;
}

#team-members .team-member-container .team-member .photo.missing {
  color: #ffffff;
  font-size: 24px;
  background: #151515;
}

#team-members .team-member-container .team-member .photo img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

#team-members .team-member-container .team-member .name {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #ffffff;
  font-size: 10.5px;
  font-family: lato, sans-serif;
  font-weight: 600;
  padding: 1px 5px;
  background: rgba(0,0,0,0.7);
}

#team-members .team-member-container:hover .team-member .name {
  background: rgba(0,0,0,1.0);
  padding-left: 4px;
}

#team-members .team-member-container .team-member .name img.muted {
  width: 10px;
  margin-right: 4px;
  margin-top: 3px;
  margin-left: -2px;
  float: left;
}

#team-members .team-member-container .team-member .name svg {
  fill: #dc2b30;
  width: 12px;
  float: left;
  margin-right: 4px;
  margin-top: 3px;
  margin-left: -2px;
}

#team-members .team-member-container .team-member .title {
  display: none;
}

#team-members .team-member-container .team-member .bio {
  display: none;
}

#fs-modal {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  background: rgba(255,255,255,1.0);
  color: #060606;
  overflow-y: scroll;
}

#fs-modal #fs-modal-inner {
  padding-left: 45px;
  padding-right: 45px;
}

#fs-modal #fs-modal-header {
  font-family: 'Helvetica Neue';
  font-size: 84px;
  line-height: 84px;
  margin-bottom: 20px;
  margin-top: 35px;
  letter-spacing: -2px;
  font-weight: bold;
}

#fs-modal #fs-modal-subhead {
  font-size: 60px;
  line-height: 60px;
  color: #AAAAAA;
  font-family: "Canela", serif;
  font-weight: 300;
  max-width: 95%;
}

#fs-modal #fs-modal-description {
  font-size: 21px;
  line-height: 30px;
  color: #888888;
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
  font-weight: 300;
  max-width: 90%;
  margin-top: 20px;
}

#fs-modal #fs-modal-description a {
  color: #ff2a6e;
}

#fs-modal #fs-modal-photo {
  margin-top: 60px;
  margin-bottom: 10px;
  text-align: right;
}

#fs-modal #fs-modal-photo-name {
  font-weight: bold;
}

#fs-modal #fs-modal-photo-title {
  color: #888888;
}

#fs-modal #fs-modal-photo-name, #fs-modal #fs-modal-photo-title {
  text-align: right;
  font-size: 14px;
}

#fs-modal #fs-modal-right {
  padding-bottom: 150px;
}

#fs-modal #fs-modal-testimonial::before {
  clear: both;
  display: block;
  margin-top: 35px;
  content: "";
  width: 25px;
  height: 1px;
  background: #cccccc;
  margin-bottom: 25px;
}

#fs-modal #fs-modal-testimonial #fs-modal-testimonial-quote {
  font-size: 21px;
  line-height: 27px;
  font-family: "Canela", serif;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 10px;
}

#fs-modal #fs-modal-testimonial #fs-modal-testimonial-source {
  font-size: 12px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  clear: both;
  display: block;
  margin-bottom: 20px;
}

#services-detailed-descriptions {
  display: none !Important;
}

#mdiv {
  width: 25px;
  height: 25px;
  margin-left: 43px;
  margin-top: 62px;
}

#mdiv:hover {
  cursor: pointer;
}

.mdiv {
  height: 25px;
  width: 2px;
  margin-left: 12px;
  background-color: black;
  transform: rotate(45deg);
  Z-index: 1;
}

.md {
  height: 25px;
  width: 2px;
  background-color: black;
  transform: rotate(90deg);
  Z-index: 2;
}

.subhead {
  color: #aaaaaa;
  font-family: "Canela", serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  max-width: 800px;
}

#benefits {
  margin-top: 15px;
}

.benefit {
  font-size: 21px;
  line-height: 30px;
  color: #aaaaaa;
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
  font-weight: 300;
}

.benefit::before {
  content: "\2022";
  display: inline-block;
  color: #aaaaaa;
  float: left;
  margin-right: 15px;
  font-size: 12px;
}

.details .item {
  color: #aaaaaa;
  font-family: "Canela", serif;
  font-weight: 300;
  font-size: 72px;
  line-height: 78px;
}

.details .item a {
  color: #aaaaaa;
  font-family: "Canela", serif;
  font-weight: 300;
  font-size: 72px;
}

.details .item a:hover {
  color: #ff2a6e;
}

.details .item.small, .details .item.small a {
  font-size: 36px;
  line-height: 48px;
}

.details h2 {
  margin-bottom: 20px;
}


#services .service {
  margin-bottom: 100px;
}

#services .service img {
  max-height: 100px;
  margin-bottom: 25px;
  margin-left: -10px;
}

#services .service .icon-container {
  float: left;
}

#services .service .icon-container img.default {
  display: block;
}

#services .service .icon-container img.hover {
  display: none;
}

#services .service .icon-container:hover img.default {
  display: none;
}

#services .service .icon-container:hover img.hover {
  display: block;
}


#services .service h3 {
  font-family: "Canela", serif;
  font-weight: 300;
  color: #060606;
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 36px;
}

#services .service h3 a {
  color: #060606;
}

#services .service h3 a:hover {
  color: #ff2a6e;
}

#services .service li {
  font-size: 14px;
  line-height: 23px;
  text-transform: uppercase;
  color: #888888;
}


.services-description {
  font-size: 21px;
  line-height: 30px;
  color: #888888;
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
  font-weight: 300;
  padding-right: 100px;
}

.services-description p a {
  color: #ff2a6e;
}


.services-description h2 {
  font-size: 60px;
  line-height: 60px;
  color: #AAAAAA;
  font-family: "Canela", serif;
  font-weight: 300;
  letter-spacing: 0;
  margin-bottom: 20px;
}

#team-lead {
  line-height: 21px;
  margin-top: 15px;
}

#team-lead .name {
  font-weight: bold;
}

#team-lead label {
  font-size: 14px;
  color: #aaaaaa;
}


#newsletter-text {
  padding-bottom: 100px;
}

#newsletter-listings li {
  list-style-type: none;
}

#whats-next {
  padding-top: 75px;
  padding-bottom: 200px;
}

#whats-next h3 {
  font-size: 30px;
  font-weight: bold;
}

#whats-next li.item a {
  font-size: 30px;
  font-weight: 300;
  font-family: "Canela", serif;
}

#contact-form {
  width: 500px;
}

div.wpforms-container-full .wpforms-form input.wpforms-field-medium, div.wpforms-container-full .wpforms-form select.wpforms-field-medium, div.wpforms-container-full .wpforms-form .wpforms-field-row.wpforms-field-medium {
  max-width: 100% !important;
}

div.wpforms-container-full .wpforms-form .wpforms-field-sublabel {
  color: #aaaaaa !important;
}

div.wpforms-container-full .wpforms-form .wpforms-field-label {
  font-size: 12px !important;
  line-height: 22px !important;
  text-transform: uppercase !important;
  letter-spacing: 1px !important;
  font-weight: bold !important;
  clear: both !important;
  display: block !important;
}

div.wpforms-container-full .wpforms-form input[type=submit], div.wpforms-container-full .wpforms-form button[type=submit], div.wpforms-container-full .wpforms-form .wpforms-page-button {
  background: #060606 !important;
  color: #ffffff !important;
  border: 0 !important;
  font-size: 14px !important;
  font-weight: bold !important;
  transition: all 0.2s ease !important;
  min-width: 150px !important;
}

div.wpforms-container-full .wpforms-form input[type=submit]:hover, div.wpforms-container-full .wpforms-form button[type=submit]:hover, div.wpforms-container-full .wpforms-form .wpforms-page-button:hover {
   background: #ff2a6e !important;
   border: 0 !important;
 }

 div.wpforms-container-full .wpforms-form label.wpforms-error {
   margin-top: 10px !important;
 }

 .wpforms-confirmation-container-full, div[submit-success]>.wpforms-confirmation-container-full:not(.wpforms-redirection-message) {
   background: #060606 !important;
   border: 0 !important;
   color: #ffffff !important;
   margin-top: 45px !important;
 }
