@font-face {
  font-family: 'Canela';
  src: url('../fonts/Canela-Light.woff2') format('woff2'),
       url('../fonts/Canela-Light.woff') format('woff'),
       url('../fonts/Canela-Light.otf') format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Canela';
  src: url('../fonts/Canela-LightItalic.woff2') format('woff2'),
       url('../fonts/Canela-LightItalic.woff') format('woff'),
       url('../fonts/Canela-LightItalic.otf') format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Canela';
  src: url('../fonts/Canela-Regular.woff2') format('woff2'),
       url('../fonts/Canela-Regular.woff') format('woff'),
       url('../fonts/Canela-Regular.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Canela';
  src: url('../fonts/Canela-RegularItalic.woff2') format('woff2'),
       url('../fonts/Canela-RegularItalic.woff') format('woff'),
       url('../fonts/Canela-RegularItalic.otf') format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Canela';
  src: url('../fonts/Canela-Medium.woff2') format('woff2'),
       url('../fonts/Canela-Medium.woff') format('woff'),
       url('../fonts/Canela-Medium.otf') format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Canela';
  src: url('../fonts/Canela-MediumItalic.woff2') format('woff2'),
       url('../fonts/Canela-MediumItalic.woff') format('woff'),
       url('../fonts/Canela-MediumItalic.otf') format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Canela';
  src: url('../fonts/Canela-Bold.woff2') format('woff2'),
       url('../fonts/Canela-Bold.woff') format('woff'),
       url('../fonts/Canela-Bold.otf') format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue-Light.woff2') format('woff2'),
       url('../fonts/HelveticaNeue-Light.woff') format('woff'),
       url('../fonts/HelveticaNeue-Light.otf') format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue.woff2') format('woff2'),
       url('../fonts/HelveticaNeue.woff') format('woff'),
       url('../fonts/HelveticaNeue-Regular.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue-Italic.woff2') format('woff2'),
       url('../fonts/HelveticaNeue-Italic.woff') format('woff'),
       url('../fonts/HelveticaNeue-RegularItalic.otf') format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue-Medium.woff2') format('woff2'),
       url('../fonts/HelveticaNeue-Medium.woff') format('woff'),
       url('../fonts/HelveticaNeue-Medium.otf') format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue-Bold.woff2') format('woff2'),
       url('../fonts/HelveticaNeue-Bold.woff') format('woff'),
       url('../fonts/HelveticaNeue-Bold.otf') format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Interstate Compressed';
  src: url('../fonts/InterstateCompressed-Bold.woff2') format('woff2'),
       url('../fonts/InterstateCompressed-Bold.woff') format('woff'),
       url('../fonts/InterstateCompressed-Bold.otf') format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Interstate Mono';
  src: url('../fonts/InterstateMono-Bold.woff2') format('woff2'),
       url('../fonts/InterstateMono-Bold.woff') format('woff'),
       url('../fonts/InterstateMono-Bold.otf') format("opentype");
  font-weight: bold;
  font-style: normal;
}
