/* Elementor Overrides */

@media (min-width: 1200px) {
  .site-header, body:not([class*=elementor-page-]) .site-main {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .site-header, body:not([class*=elementor-page-]) .site-main {
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  .site-header, body:not([class*=elementor-page-]) .site-main {
    max-width: 100%;
  }
}

[type=button], [type=submit], button {
  border-color: none;
  -webkit-transition: 0.2s;
}

[type=button]:active, [type=submit]:active, button:active {
  border-color: none;
}

[type=button]:focus, [type=submit]:focus, button:focus {
  border-color: none;
}

[type=button]:focus, [type=button]:hover, [type=submit]:focus, [type=submit]:hover, [type=button]:active, button:focus, button:hover, button:active {
  background: none;
  outline: none;
}

/* Helpers */

.aa {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.collapse-padding {
  padding-left: 0;
  padding-right: 0;
}

.col-centered {
  margin: 0px auto;
}

.clear {
  clear: both;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container.left-align {
  justify-content: flex-start;
}

.drop-shadow {
  box-shadow: 0 1px 2px rgba(0,0,0,0.02),
              0 2px 4px rgba(0,0,0,0.02),
              0 4px 8px rgba(0,0,0,0.02),
              0 8px 16px rgba(0,0,0,0.02),
              0 16px 32px rgba(0,0,0,0.02),
              0 32px 64px rgba(0,0,0,0.02);
  transition: 0.2s all ease;
}

.drop-shadow:hover {
  box-shadow: 0 1px 2px rgba(0,0,0,0.04),
              0 2px 4px rgba(0,0,0,0.04),
              0 4px 8px rgba(0,0,0,0.04),
              0 8px 16px rgba(0,0,0,0.04),
              0 16px 32px rgba(0,0,0,0.04),
              0 32px 64px rgba(0,0,0,0.04);
  transition: 0.2s all ease;
}

.drop-shadow.no-hover:hover {
  box-shadow: 0 1px 2px rgba(0,0,0,0.02),
              0 2px 4px rgba(0,0,0,0.02),
              0 4px 8px rgba(0,0,0,0.02),
              0 8px 16px rgba(0,0,0,0.02),
              0 16px 32px rgba(0,0,0,0.02),
              0 32px 64px rgba(0,0,0,0.02);
  transition: 0.2s all ease;
}


/* Base */

html {
  height: 100vh;
}

html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Helvetica Neue", helvetica, sans-serif;
  color: #060606;
}

a {
  color: #AAAAAA;
  transition: all 0.2s ease;
}

#main-container {
  padding: 80px 30px 0 30px;
}

a:hover {
  color: #ff2a6e;
}


/* General */

.serif {
  font-family: "Canela", serif;
  font-weight: 300;
}

.eyebrow {
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ff2a6e;
  font-weight: bold;
  margin-bottom: 25px;
  margin-top: -25px;
}

.description, .description p {
  font-size: 24px;
  line-height: 36px;
  color: #666666;
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
  font-weight: 300;
}


h1 {
  font-size: 100px;
  line-height: 100px;
  color: #060606;
  margin-bottom: 25px;
  letter-spacing: -2px;
}

h1.sans {
  font-weight: bold;
}

h1 span {
  font-style: italic;
  border-bottom: 3px solid #060606;
}

h2 {
  font-size: 84px;
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
  color: #060606;
  line-height: 100px;
  letter-spacing: -3px;
  font-weight: bold;
}

.black h2 {
  color: #ffffff;
}

.lead-container {
  padding: 90px 0 100px 0;
}

.lead-container.newsletter-container {
  padding-bottom: 20px;
}

.description p a {
  color: #060606;
  font-weight: bold;
  text-decoration: none;
}

.description p a span {
  text-decoration: none !important;
}

.description p a span strong {
  font-weight: bold;
}

.description p a:hover {
  color: #ff2a6e;
}

.lead-container .description p {
  /* font-size: 84px; */
  /* line-height: 84px; */
  font-size: 60px;
  line-height: 60px;
  color: #AAAAAA;
  font-family: "Canela", serif;
  font-weight: 300;
}

.lead-container .description.small p {
  font-size: 36px;
  line-height: 48px;
}


/* Newsletter */

#newsletter-content-container, #newsletter-content-container p {
  font-size: 24px;
  line-height: 36px;
  max-width: 600px;
}

#newsletter-content-container p {
  margin-bottom: 20px;

}

#newsletter-content-container img {
  display: none;
  margin: 50px 30px 60px 0;
  max-width: 600px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.02),
              0 2px 4px rgba(0,0,0,0.02),
              0 4px 8px rgba(0,0,0,0.02),
              0 8px 16px rgba(0,0,0,0.02),
              0 16px 32px rgba(0,0,0,0.02),
              0 32px 64px rgba(0,0,0,0.02);
}

#newsletter-content-container h2 {
  border-top: 3px solid #eeeeee;
  display: block;
  width: 100%;
  float: left;
  padding-top: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 42px;
  line-height: 54px;
  letter-spacing: -1px;
}


/* Alternate Option */

#newsletter-text, #newsletter-text p {
  font-size: 24px;
  line-height: 36px;
}

#newsletter-text h2 {
  border-top: 3px solid #eeeeee;
  display: block;
  width: 100%;
  float: left;
  padding-top: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 42px;
  line-height: 48px;
  letter-spacing: -1.5px;
}

#newsletter-text p {
  margin-bottom: 20px;
}

#newsletter-text p strong {
  font-weight: bold;
}

#newsletter-text a {
  color: #060606;
}

#newsletter-text a:hover {
  color: #ff2a6e;
}

#newsletter-text figure {
  margin: 50px 30px 60px 0;
}

#newsletter-text figure figcaption {
  font-size: 14px;
  color: #888888;
  font-style: normal;
  margin-top: 15px;
}

#newsletter-text img {
  display: block;
  max-width: 500px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.02),
              0 2px 4px rgba(0,0,0,0.02),
              0 4px 8px rgba(0,0,0,0.02),
              0 8px 16px rgba(0,0,0,0.02),
              0 16px 32px rgba(0,0,0,0.02),
              0 32px 64px rgba(0,0,0,0.02);
}

#newsletter-images img {
  max-width: 400px;
  margin-bottom: 30px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.02),
              0 2px 4px rgba(0,0,0,0.02),
              0 4px 8px rgba(0,0,0,0.02),
              0 8px 16px rgba(0,0,0,0.02),
              0 16px 32px rgba(0,0,0,0.02),
              0 32px 64px rgba(0,0,0,0.02);
}


/* Case Study */

#case-study-hero {
  background-size: cover !important;
  background-position: center center !important;
}

#case-study-hero-inner {
  background: rgb(0,0,0);
  background: linear-gradient(160deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

#case-study-hero h1 {
  color: #ffffff;
}

#background-statement p {
  font-family: "Canela", serif;
  font-size: 42px;
  line-height: 60px;
  font-weight: 300;
  padding: 150px 0 175px 0;
}

#gallery-images {
  margin-bottom: 150px;
}

#gallery-images .gallery-img-container {
  width: 100%;
  height: 650px;
}

#gallery-images .gallery-img-container img {
  height: 650px;
  width: 100%;
  object-fit: cover !important;
}

#case-study-text p {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 50px;
}

#case-study-text p strong {
  font-weight: bold;
}


#case-study-stats .stats-section {
  margin-bottom: 50px;
}

#case-study-stats .stats-section h5 {
  font-size: 12px;
  line-height: 22px;
  text-transform: uppercase;
  font-family: 'Interstate Mono';
  clear: both;
  display: block;
  width: 100%;
  font-weight: bold;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

#case-study-stats .stats-section h5:before {
  content: '';
  width: 40px;
  height: 1px;
  background: #dddddd;
  display: block;
  margin-bottom: 15px;
}

#case-study-stats #results-description {
  font-family: "Canela", serif;
  font-style: italic;
  font-size: 21px;
  font-weight: 300;
  max-width: 300px;
  margin-bottom: 15px;
}

#case-study-stats #results .stat {
  margin-bottom: 15px;
}

#case-study-stats #results .stat .stat-label {
  font-family: 'Interstate Compressed';
  font-weight: bold;
  font-size: 30px;
  line-height: 44px;
  text-transform: uppercase;
  color: #ff2a6e;
  margin-bottom: 0px;
}

#case-study-stats #results .stat .stat-description {
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-weight: bold;
  letter-spacing: 1px;
}

#case-study-stats #deliverables .deliverable {
  font-size: 14px;
  line-height: 24px;
}

#case-study-stats #deliverables .deliverable label {
  float: left;
  font-family: 'Interstate Mono';
  font-weight: bold;
  color: #ff2a6e;
  margin-right: 15px;
  margin-top: 7px;
  font-size: 12px;
}

#more-case-studies {
  padding-top: 150px;
  padding-bottom: 250px;
}

#more-case-studies a.case-study {
  font-size: 100px;
  line-height: 100px;
  font-family: "Canela", serif;
  font-weight: 300;
  margin-right: 50px;
  display: inline-block;
}

/* Flickity */

.flickity-viewport {
  overflow-y: visible;
}

.flickity-prev-next-button {
  width: 80px;
  height: 80px;
}

.flickity-button {
  background: rgba(0,0,0,0.15);
  border-radius: 0;
}

.flickity-button:hover {
  background: rgba(255,42,110,1.0);
}

.flickity-page-dots {
  bottom: -50px;
}

.flickity-page-dots .dot {
  width: 8px;
  height: 8px;
}

.flickity-page-dots .dot.is-selected {
  background: #ff2a6e;
}

.flickity-prev-next-button.previous {
  left: 0;
}

.flickity-prev-next-button.next {
  right: 0;
}

.flickity-button-icon {
  fill: #ffffff;
}


/* Newsletter / Clients  */

#newsletter-listings li.item, #client-list li.item {
  font-size: 100px;
  font-family: "Canela", serif;
  line-height: 100px;
  font-weight: 300;
  color: #AAAAAA;
}

#clients #client-grid h1 {
  margin-bottom: 50px;
}

#clients .client {
  text-align: center;
  height: 150px;
  margin-bottom: 30px;
}

#client-list li.item img {
  max-height: 27px;
  float: right;
  opacity: 0.0;
  transition: 0.2s;
}

#client-list li.item:hover img {
  opacity: 1.0;
}

#client-list li.item {
  justify-content: space-between;
}

#clients img#alexa-fund {
  max-height: 23px;
}

#clients img#andela {
  max-height: 35px;
}

#clients img#ceros {
  max-height: 20px;
}

#clients img#cloudera {
  max-height: 18px;
}

#clients img#comcast {
  max-height: 35px;
}

#clients img#digital-asset {
  max-height: 25px;
}

#clients img#facebook {
  max-height: 15px;
}

#clients img#foleon {
  max-height: 30px;
}

#clients img#gumgum {
  max-height: 35px;
}

#clients img#hcl {
  max-height: 15px;
}

#clients img#himss {
  max-height: 40px;
}

#clients img#harvard-business-school {
  max-height: 40px;
}

#clients img#hyperscience {
  max-height: 35px;
}

#clients img#keystone {
  max-height: 18px;
}

#clients img#mta {
  max-height: 35px;
}

#clients img#ny-state {
  max-height: 50px;
}

#clients img#newswhip {
  max-height: 35px;
}

#clients img#ordergroove {
  max-height: 23px;
}

#clients img#robin {
  max-height: 50px;
}

#clients img#salespad {
  max-height: 50px;
}

#clients img#sodexo {
  max-height: 30px;
}

#clients img#springer-nature {
  max-height: 35px;
}

#clients img#stensul {
  max-height: 22px;
}

#clients img#the-mom-project {
  max-height: 15px;
}

#clients img#the-muse {
  max-height: 55px;
}

#clients img#viacomcbs {
  max-height: 18px;
}

#clients img#wix {
  max-height: 20px;
}

#clients img#vchief {
  max-height: 35px;
}

/* Sidebar */

#sidebar {
  padding-top: 10px;
}

#sidebar .sidebar-section {
  margin-bottom: 80px;
}

#sidebar h5 {
  font-size: 12px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  clear: both;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

#sidebar h5:before {
  content: '';
  width: 40px;
  height: 1px;
  background: #dddddd;
  display: block;
  margin-bottom: 25px;
}

#sidebar .item {
  margin-bottom: 30px;
}

#sidebar img {
  max-width: 200px;
  margin-top: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.02),
              0 2px 4px rgba(0,0,0,0.02),
              0 4px 8px rgba(0,0,0,0.02),
              0 8px 16px rgba(0,0,0,0.02),
              0 16px 32px rgba(0,0,0,0.02),
              0 32px 64px rgba(0,0,0,0.02);
}

#sidebar .item label {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

#sidebar .item .small-description, #sidebar .item .small-description p {
  font-size: 14px;
  color: #060606;
  margin-bottom: 7px;
}

#sidebar .item a.link {
  color: #ff2a6e;
  font-weight: bold;
  font-size: 12px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#sidebar .news.item .small-description, #sidebar .news.item .small-description p {
  font-size: 14px;
  color: #060606;
}

#sidebar .news.item .small-description span {
  display: inline-block;
  float: left;
  margin-right: 5px;
}

#sidebar img.album-art {
  margin-bottom: 15px;
  max-width: 200px;
  float: left;
}

#sidebar .item a {
  text-decoration: underline;
  color: #060606;
}

#sidebar .item a:hover {
  color: #ff2a6e;
}

#sidebar .item .quote {
  font-size: 18px;
  margin-top: -10px;
}

#sidebar .item .source {
  font-size: 14px;
  margin-top: 15px;
}
