@media (max-width: 1440px) {

  h1 {
    font-size: 84px;
    line-height: 84px;
  }

  .lead-container .description p {
    font-size: 48px;
    line-height: 48px;
  }

  #fs-modal #fs-modal-header {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1px;
    margin-bottom: 25px;
  }

  #fs-modal #fs-modal-subhead {
    font-size: 48px;
    line-height: 48px;
  }

  #vid-container {
    width: calc(100% + 15px);
    height: 130px;
    margin-left: -15px;
  }
  .heading-text {
    font-size: 48px !important;
    letter-spacing: -0.75px;
  }

  #lp-container ul li {
    font-size: 96px;
    line-height: 108px;
  }
}

@media (max-width: 1180px) {

  h1 {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.5px;
  }

  #vid-container {
    height: 110px;
    margin-left: -15px;
    width: calc(100% + 15px);
  }
  .heading-text {
    font-size: 48px !important;
    letter-spacing: -0.5px;
  }

  #lp-container ul li {
    font-size: 72px;
    line-height: 84px;
  }
}


@media (max-width: 768px) {


  .site-header {
    padding: 30px 15px;
  }

  #main-container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .slide {
    height: auto;
    min-height: 600px;
    padding: 0 30px;
  }

  #map.slide {
    height: 480px;
    min-height: 480px;
    background-position: 58% 0 !important;
  }

  h1, h2 {
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 10px;
    letter-spacing: -0.5px;
  }

  #lp-container h1 {
    font-size: 30px;
    line-height: 32px;
    letter-spacing: -1px;
    margin-bottom: 0;
  }

  #lp-outer-container {
    margin-top: -25px;
    padding-left: 15px;
  }

  #vid-container {
    height: 46px;
    margin-left: -7px;
    padding-left: 1px;
  }

  .heading-text {
    font-size: 47px !important;
    letter-spacing: -0.75px;
  }

  #lp-container ul li {
    font-size: 32px;
    line-height: 42px;
    margin-right: 10px;
  }

  .lead-container .description p, .services-description h2 {
    font-size: 30px;
    line-height: 32px;
  }

  #services .service img {
    max-height: 70px;
  }

  #services .service h3 {
    font-size: 21px;
    line-height: 30px;
  }

  .services-description {
    padding-right: 0;
    padding-bottom: 100px;
  }

  .services-description p, .description, .description p {
    font-size: 18px;
    line-height: 24px;
  }

  #newsletter-listings li.item, #client-list li.item {
    font-size: 30px;
    line-height: 32px;
    display: block;
  }

  .details .item, .details .item a {
    font-size: 30px;
    line-height: 32px;
  }

  #client-list li.item img {
    display: none;
  }

  #client-list li.item a {
    color: #060606;
  }


  #team-members .team-member-container .team-member {
    height: 100px;
  }

  #team-members .team-member-container .team-member .photo {
    height: 100px;
  }

  #team-members .team-member-container .team-member .photo img {
    height: 100px;
  }

  .eyebrow {
    margin-bottom: 15px;
  }

  .subhead {
    font-size: 18px;
    line-height: 24px;
  }

  .benefit {
    font-size: 16px;
    line-height: 23px;
    color: #aaaaaa;
  }

  .container-lhc {
    padding-left: 30px;
    padding-right: 30px;
  }

  #mc_embed_signup {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }

  #mc_embed_signup input[type=submit] {
    margin-left: 0;
    margin-top: 15px;
  }

  #newsletter-testimonial {
    padding: 0;
    padding-left: 45px;
    padding-bottom: 20px;
    text-align: left !important;
  }

  #newsletter-text figure {
    margin-right: 0;
  }

  #newsletter-text h2 {
    font-size: 30px;
    line-height: 32px;
  }

  #newsletter-text img {
    max-width: 100%;
  }

  #sidebar h5 {
    font-size: 16px;
    line-height: 23px;
  }

  #sidebar .news.item .small-description, #sidebar .news.item .small-description p {
    font-size: 16px;
    line-height: 23px;
  }

  #sidebar .item .small-description, #sidebar .item .small-description p {
    font-size: 16px;
    line-height: 23px;
  }

  #background-statement p {
    font-size: 30px;
    line-height: 32px;
    padding: 150px 0 175px 0;
  }

  #gallery-images .gallery-img-container {
    height: 300px;
  }

  #gallery-images .gallery-img-container img {
    height: 300px;
  }

  #more-case-studies a.case-study {
    font-size: 30px;
    line-height: 32px;
    margin-right: 20px;
  }

  #mdiv {
    margin-left: 28px;
  }

  #fs-modal #fs-modal-inner {
    padding-left: 30px;
    padding-right: 30px;
  }

  #fs-modal #fs-modal-header {
    font-size: 30px;
    line-height: 32px;
    letter-spacing: -1px;
    margin-bottom: 5px;
  }

  #fs-modal #fs-modal-subhead {
    font-size: 30px;
    line-height: 32px;
  }

  #fs-modal #fs-modal-description {
    font-size: 16px;
    line-height: 23px;
  }

  #fs-modal #fs-modal-photo {
    margin-top: 30px;
  }

  #fs-modal #fs-modal-right {
    padding-bottom: 200px;
  }

}
